@charset "UTF-8";

// 1. Abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';

// 2. Base
@import 'base/reset';
@import 'base/typography';

// 3. Components
@import 'components/card';
@import 'components/buttons';

// 4. Pages
@import 'pages/home';
@import 'pages/detail';